.fxw\(wrap\){
flex-wrap: wrap;
}
.fz\(12em\){
font-size: 12em;
}
.p\(\.5rem\){
padding: .5rem;
}
.m\(0\,auto\){
margin: 0 auto;
}
.m\(auto\){
margin: auto;
}
.mb\(0\){
margin-bottom: 0;
}
.fz\(1\.4em\){
font-size: 1.4em;
}
.mb\(\.5rem\){
margin-bottom: .5rem;
}
.mr\(\.4em\){
margin-right: .4em;
}
.m\(0\){
margin: 0;
}
.p\(0\){
padding: 0;
}
.p\(0\,\!important\){
padding: 0 !important;
}
.w\(100\%\){
width: 100%;
}
.d\(flex\){
display: flex;
}
.w\(8\%\){
width: 8%;
}
.fz\(28px\){
font-size: 28px;
}
.bdrs\(\.8rem\){
border-radius: .8rem;
}
.w\(92\%\){
width: 92%;
}
.bd\(none\){
border: none;
}
.p\(\.8rem\){
padding: .8rem;
}
.bdrs\(0\,\.8rem\,0\,0\){
border-radius: 0 .8rem 0 0;
}
.ovx\(auto\){
overflow-x: auto;
}
.whs\(pre-wrap\){
white-space: pre-wrap;
}
.h\(70vw\){
height: 70vw;
}
@media(min-width:750px) {
.h\(50vw\)--sm{
height: 50vw;
}
}
@media(min-width:1000px) {
.h\(25vw\)--md{
height: 25vw;
}
}
.mb\(1em\){
margin-bottom: 1em;
}
.h\(25vw\){
height: 25vw;
}
@media(min-width:750px) {
.h\(15vw\)--sm{
height: 15vw;
}
}
@media(min-width:1000px) {
.h\(5vw\)--md{
height: 5vw;
}
}
.fz\(1\.8rem\){
font-size: 1.8rem;
}
.m\(0\,0\,\.5rem\,0\){
margin: 0 0 .5rem 0;
}
.ml\(auto\,\!important\){
margin-left: auto !important;
}
.fz\(22px\,\!important\){
font-size: 22px !important;
}
.cur\(pointer\){
cursor: pointer;
}
.w\(1\.3em\){
width: 1.3em;
}
.h\(1\.3em\){
height: 1.3em;
}
.mb\(\.7rem\){
margin-bottom: .7rem;
}
.m\(auto\,0\,auto\,\.4em\){
margin: auto 0 auto .4em;
}
.fz\(12px\){
font-size: 12px;
}
.c\(\#fff\){
color: #fff;
}
.fz\(16px\){
font-size: 16px;
}
.d\(block\){
display: block;
}
@media(min-width:750px) {
.w\(256px\)--sm{
width: 256px;
}
}
@media(min-width:1000px) {
.w\(512px\)--md{
width: 512px;
}
}
.m\(0\,\.1em\){
margin: 0 .1em;
}
.bdt\(1px\,solid\){
border-top: 1px solid;
}
.bdc\(color-lightGrey\){
border-color: var(--color-lightGrey);
}
.fz\(18px\){
font-size: 18px;
}
.p\(\.6rem\,1\.2rem\){
padding: .6rem 1.2rem;
}
.m\(0\,\.8rem\,0\,0\){
margin: 0 .8rem 0 0;
}
.c\(\#009966\)\:h:hover{
color: #009966;
}
.c\(\#009966\)\:f:focus{
color: #009966;
}
.fz\(1\.2em\){
font-size: 1.2em;
}
.m\(auto\,0\){
margin: auto 0;
}
.h\(4rem\){
height: 4rem;
}
.w\(90\%\){
width: 90%;
}
.wow\(break-word\){
word-wrap: break-word;
}
.c\(\#3b4351\){
color: #3b4351;
}
.h\(100\%\){
height: 100%;
}
.m\(0\,0\,0\,auto\){
margin: 0 0 0 auto;
}
.c\(\#ff0033\)\:h:hover{
color: #ff0033;
}
.c\(\#ff0033\)\:f:focus{
color: #ff0033;
}
.m\(auto 0\){
margin: auto 0;
}
.p\(1\.2rem\,2\.4rem\){
padding: 1.2rem 2.4rem;
}
.fz\(22px\){
font-size: 22px;
}
.p\(\.8rem\,1\.2rem\){
padding: .8rem 1.2rem;
}
.bg\(\#fff\){
background: #fff;
}
.c\(\#ff0033\){
color: #ff0033;
}
.m\(0\,\.4rem\){
margin: 0 .4rem;
}
.c\(dark-gray\){
color: dark-gray;
}
.fz\(14px\){
font-size: 14px;
}
.m\(\.3rem\,0\,0\,\.4rem\){
margin: .3rem 0 0 .4rem;
}
.m\(auto\,\.4em\,auto\,0\){
margin: auto .4em auto 0;
}
.m\(auto\,\.6rem\,auto\,0\){
margin: auto .6rem auto 0;
}
.ff\('Poppins'\, sans-serif\){
font-family: 'Poppins'  sans-serif;
}
.m\(\.4rem\,\.4rem\,0\,0\){
margin: .4rem .4rem 0 0;
}
.bdrs\(1\.5rem\,1\.5rem\,0\,0\){
border-radius: 1.5rem 1.5rem 0 0;
}
.w\(88\%\){
width: 88%;
}
.p\(1\.2em\){
padding: 1.2em;
}
.bdrs\(1\.5rem\,0\,0\,0\){
border-radius: 1.5rem 0 0 0;
}
.mih\(4\.5rem\){
min-height: 4.5rem;
}
.w\(10\%\){
width: 10%;
}
.ml\(2\%\){
margin-left: 2%;
}
.bdrs\(0\,1\.5rem\,0\,1\.5rem\){
border-radius: 0 1.5rem 0 1.5rem;
}
.fz\(2em\){
font-size: 2em;
}
.bg\(none\){
background: none;
}
.mt\(0\){
margin-top: 0;
}
.p\(\.5rem\,1\.5rem\){
padding: .5rem 1.5rem;
}
.bdrs\(0\,0\,1\.5rem\,1\.5rem\){
border-radius: 0 0 1.5rem 1.5rem;
}
.ml\(auto\){
margin-left: auto;
}
.p\(4px\){
padding: 4px;
}
.m\(8px\){
margin: 8px;
}
.c\(gray\){
color: gray;
}
.mih\(min-content\){
min-height: min-content;
}
.bdb\(1px\,solid\){
border-bottom: 1px solid;
}
.whs\(nowrap\){
white-space: nowrap;
}
.bg\(inherit\){
background: inherit;
}
.ai\(center\){
align-items: center;
}
.ml\(\.4em\){
margin-left: .4em;
}
.p\(\.1rem\,\.4rem\,\.1rem\,1\.2rem\){
padding: .1rem .4rem .1rem 1.2rem;
}
.p\(1\.4rem\,0\){
padding: 1.4rem 0;
}
.mt\(auto\){
margin-top: auto;
}
.p\(\.2rem\,0\){
padding: .2rem 0;
}
.b\(inherit\){
bottom: inherit;
}

.ml\(0\){
margin-left: 0;
}
.ai\(center\){
align-items: center;
}
.cur\(pointer\){
cursor: pointer;
}
.bd\(0\){
border: 0;
}
.bg\(inherit\){
background: inherit;
}
.d\(inline-block\){
display: inline-block;
}
.w\(24px\){
width: 24px;
}
.h\(24px\){
height: 24px;
}
.fxsh\(0\){
flex-shrink: 0;
}
.bdrs\(50\%\){
border-radius: 50%;
}
.mr\(4px\){
margin-right: 4px;
}
.list\(none\){
list-style-type: none;
}
.ml\(32px\){
margin-left: 32px;
}
.ml\(28px\){
margin-left: 28px;
}
.ovx\(auto\){
overflow-x: auto;
}
.ovy\(auto\){
overflow-y: auto;
}
.pos\(relative\){
position: relative;
}
.w\(1px\){
width: 1px;
}
.h\(1px\){
height: 1px;
}
.op\(0\){
opacity: 0;
}
