.A2bj9cl38, [data-acss-id="A2bj9cl38"]{
	min-height: min-content;
	border-bottom: 1px solid;
	white-space: nowrap;
	background: inherit;}
.Aouazh03g, [data-acss-id="Aouazh03g"]{
	display: flex;
	align-items: center;
	margin-left: .4em;}
.A4985ee0j, [data-acss-id="A4985ee0j"]{
	padding: .1rem .4rem .1rem 1.2rem;}
.Ak8gc8ch3, [data-acss-id="Ak8gc8ch3"]{
	padding: 1.4rem 0;}
.A820mvz54, [data-acss-id="A820mvz54"]{
	margin-top: auto;
	border-top: 1px solid;
	border-color: var(--color-lightGrey);
	padding: .2rem 0;
	bottom: inherit;}
.Ayt4iiozg, [data-acss-id="Ayt4iiozg"]{
	display: flex;}
.Amspy7d9k, [data-acss-id="Amspy7d9k"]{
	margin-left: auto;
	font-size: 14px;}
.As8jficyb, [data-acss-id="As8jficyb"]{
	flex-wrap: wrap;}
.Ax6v5sfkp, [data-acss-id="Ax6v5sfkp"]{
	font-size: 12em;
	padding: .5rem;
	margin: 0 auto;}
.Ai8a7ygat, [data-acss-id="Ai8a7ygat"]{
	margin: auto;}
.Azjkb31s5, [data-acss-id="Azjkb31s5"]{
	margin-bottom: 0;}
.A37s5qw4x, [data-acss-id="A37s5qw4x"]{
	font-size: 1.4em;
	margin-bottom: .5rem;}
.A963vgaac, [data-acss-id="A963vgaac"]{
	margin-right: .4em;}
.Aqichwkfy, [data-acss-id="Aqichwkfy"]{
	margin: auto;}
.Aogk30xvn, [data-acss-id="Aogk30xvn"]{
	margin: 0;
	padding: 0;}
.At820aox4, [data-acss-id="At820aox4"]{
	padding: 0 !important;
	margin: 0;
	width: 100%;
	display: flex;}
.Asn7wcpe0, [data-acss-id="Asn7wcpe0"]{
	width: 8%;
	display: flex;
	font-size: 28px;
	border-radius: .8rem;}
.Awy630r2a, [data-acss-id="Awy630r2a"]{
	margin: auto;}
.Axu2ldk74, [data-acss-id="Axu2ldk74"]{
	width: 92%;
	border: none;
	padding: .8rem;
	border-radius: 0 .8rem 0 0;}
.Avrma9ge2, [data-acss-id="Avrma9ge2"]{
	overflow-x: auto;}
.A9heeesiu, [data-acss-id="A9heeesiu"]{
	height: 70vw;
	margin-bottom: 1em;}
@media(min-width:750px){
	.A9heeesiu, [data-acss-id="A9heeesiu"]{
		height: 50vw;}
}
@media(min-width:1000px){
	.A9heeesiu, [data-acss-id="A9heeesiu"]{
		height: 25vw;}
}
.Afkblnqlo, [data-acss-id="Afkblnqlo"]{
	height: 25vw;
	width: 100%;}
@media(min-width:750px){
	.Afkblnqlo, [data-acss-id="Afkblnqlo"]{
		height: 15vw;}
}
@media(min-width:1000px){
	.Afkblnqlo, [data-acss-id="Afkblnqlo"]{
		height: 5vw;}
}
.Akri72dzh, [data-acss-id="Akri72dzh"]{
	font-size: 1.8rem;}
.A7rtka8yu, [data-acss-id="A7rtka8yu"]{
	padding: .8rem;}
.Aq25ua86c, [data-acss-id="Aq25ua86c"]{
	display: flex;
	padding: 0;
	margin: 0 0 .5rem 0;}
.A0hawz0go, [data-acss-id="A0hawz0go"]{
	margin: 0;}
.A2bnky1qh, [data-acss-id="A2bnky1qh"]{
	margin-left: auto !important;
	font-size: 22px !important;
	cursor: pointer;}
.Aejto0mu7, [data-acss-id="Aejto0mu7"]{
	margin-bottom: 0;}
.A30k8pv5r, [data-acss-id="A30k8pv5r"]{
	display: flex;
	margin-bottom: .7rem;}
.Aek3v76hl, [data-acss-id="Aek3v76hl"]{
	display: flex;
	margin: 0;}
.A7mk0eg5b, [data-acss-id="A7mk0eg5b"]{
	margin: auto 0 auto .4em;
	font-size: 12px;
	color: #fff;}
.Agurin0cz, [data-acss-id="Agurin0cz"]{
	font-size: 16px;
	display: block;}
.Aj4b6t0q2, [data-acss-id="Aj4b6t0q2"]{
	display: flex;
	margin-bottom: .7rem;}
.A35ebdmx6, [data-acss-id="A35ebdmx6"]{
	display: flex;
	margin-left: auto;}
.Anfsj4amx, [data-acss-id="Anfsj4amx"]{
	font-size: 16px;
	display: block;}
.A2u6wsl9m, [data-acss-id="A2u6wsl9m"]{
	margin: auto 0 auto .4em;
	font-size: 12px;
	color: #fff;}
.Adimehhu5, [data-acss-id="Adimehhu5"]{
	margin: 0 auto;}
@media(min-width:1000px){
	.Adimehhu5, [data-acss-id="Adimehhu5"]{
		width: 512px;}
}
@media(min-width:750px){
	.Adimehhu5, [data-acss-id="Adimehhu5"]{
		width: 256px;}
}
.A3yj82y39, [data-acss-id="A3yj82y39"]{
	display: flex;
	flex-wrap: wrap;}
.A4ldb72lr, [data-acss-id="A4ldb72lr"]{
	margin: 0 .1em;}
.As6729xea, [data-acss-id="As6729xea"]{
	border-top: 1px solid;
	border-color: var(--color-lightGrey);
	font-size: 18px;}
.Ardts9ibp, [data-acss-id="Ardts9ibp"]{
	display: flex;
	padding: .6rem 1.2rem;}
.A4qgv5r8s, [data-acss-id="A4qgv5r8s"]{
	margin: 0 .8rem 0 0;}
.Ahw99q666, [data-acss-id="Ahw99q666"]{
	font-size: 1.2em;
	margin: auto 0;
	height: 4rem;}
.Ahw99q666:focus, [data-acss-id="Ahw99q666"]:focus{
	color: #009966;}
.Ahw99q666:hover, [data-acss-id="Ahw99q666"]:hover{
	color: #009966;}
.Amlvq9hkd, [data-acss-id="Amlvq9hkd"]{
	width: 90%;
	margin: auto 0;}
.A1rxw33r6, [data-acss-id="A1rxw33r6"]{
	width: 90%;
	word-wrap: break-word;}
.A5emdrpia, [data-acss-id="A5emdrpia"]{
	color: #3b4351;
	width: 100%;
	height: 100%;}
.A0l0c63td, [data-acss-id="A0l0c63td"]{
	margin: 0 0 0 auto;}
.Awpooob57, [data-acss-id="Awpooob57"]{
	font-size: 1.2em;
	margin: auto 0;}
.Awpooob57:focus, [data-acss-id="Awpooob57"]:focus{
	color: #ff0033;}
.Awpooob57:hover, [data-acss-id="Awpooob57"]:hover{
	color: #ff0033;}
.Ayt3ybx1k, [data-acss-id="Ayt3ybx1k"]{
	padding: 1.2rem 2.4rem;}
.Alijjebk9, [data-acss-id="Alijjebk9"]{
	width: 90%;
	word-wrap: break-word;}
.Aqhruabpm, [data-acss-id="Aqhruabpm"]{
	font-size: 22px;
	padding: .8rem 1.2rem;
	background: #fff;}
.A428z0igz, [data-acss-id="A428z0igz"]{
	display: flex;}
.Ate2340dj, [data-acss-id="Ate2340dj"]{
	margin: auto;}
.Asp3pc8lq, [data-acss-id="Asp3pc8lq"]{
	margin: 0 .4rem;}
.Azs8qgcc5, [data-acss-id="Azs8qgcc5"]{
	color: #ff0033;}
.Abcek5kjn, [data-acss-id="Abcek5kjn"]{
	color: dark-gray;
	font-size: 14px;
	margin: .3rem 0 0 .4rem;}
.An26ti4p7, [data-acss-id="An26ti4p7"]{
	display: flex;}
.Axjtg4mw9, [data-acss-id="Axjtg4mw9"]{
	margin: auto .4em auto 0;
	font-size: 12px;}
.A9q17jeiv, [data-acss-id="A9q17jeiv"]{
	font-size: 16px;
	display: block;}
.Aueqawm65, [data-acss-id="Aueqawm65"]{
	margin: auto .6rem auto 0;
	font-family: 'Poppins'  sans-serif;}
.Aozhx5dq9, [data-acss-id="Aozhx5dq9"]{
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;}
.Ar7610tze, [data-acss-id="Ar7610tze"]{
	margin: .4rem .4rem 0 0;
	padding: 0;}
.A6p1fqkey, [data-acss-id="A6p1fqkey"]{
	margin: .4rem .4rem 0 0;
	padding: 0;}
.Apcyi3sai, [data-acss-id="Apcyi3sai"]{
	width: 100%;
	display: flex;
	border-radius: 1.5rem 1.5rem 0 0;}
.Aoxnhiqkm, [data-acss-id="Aoxnhiqkm"]{
	border: none;
	width: 88%;
	padding: 1.2em;
	border-radius: 1.5rem 0 0 0;
	min-height: 4.5rem;}
.A9586bf98, [data-acss-id="A9586bf98"]{
	width: 10%;
	margin-left: 2%;
	border-radius: 0 1.5rem 0 1.5rem;}
.Ay52th7wk, [data-acss-id="Ay52th7wk"]{
	font-size: 2em;
	background: none;}
.Ajqfwnw55, [data-acss-id="Ajqfwnw55"]{
	margin-top: 0;}
.Avntpdp9c, [data-acss-id="Avntpdp9c"]{
	display: flex;
	padding: .5rem 1.5rem;
	font-size: 18px;
	border-top: 1px solid;
	border-color: var(--color-lightGrey);
	border-radius: 0 0 1.5rem 1.5rem;}
.Azmos9tx6, [data-acss-id="Azmos9tx6"]{
	margin-left: auto;
	font-size: 18px;
	padding: 4px;}
.Aj0hq0zvq, [data-acss-id="Aj0hq0zvq"]{
	margin: 8px;
	color: gray;
	font-size: 12px;}
