@charset "UTF-8";
.contentBlock {
  border-radius: 0.8rem;
  border: 1px solid var(--color-primary);
  background: #fff;
}
.contentBlock .contentBlock-title {
  font-family: "Poppins", sans-serif;
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: 1px solid var(--color-primary);
  padding: 0.4rem 0.6rem;
  color: var(--color-primary);
  font-size: 2rem;
}
.contentBlock .contentBlock-body {
  background: inherit;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
}

html[data-theme=dark] .contentBlock {
  background-color: inherit;
}

.blocksList > * + * {
  margin-top: 1rem;
}

.boxShadow {
  border: 1px solid var(--boxShadowBorder);
  border-radius: 1.5rem;
  box-shadow: var(--boxShadowColor) 0px 3px 11px 0px;
  transition: box-shadow 0.5s;
}

.boxShadow-hover:hover {
  box-shadow: var(--boxShadowColorHover) 0px 3px 11px 0px;
}

.centerizeContent {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
@media (min-width: 0px) {
  .centerizeContent {
    width: 94%;
  }
}
@media (min-width: 840px) {
  .centerizeContent {
    width: 78%;
  }
}
@media (min-width: 1400px) {
  .centerizeContent {
    width: 48%;
  }
}

.centerizeContent-wrapper {
  padding: 0.2rem 0;
}
.centerizeContent-wrapper .centerizeContent {
  display: flex;
}

.page {
  padding: 0.2rem 0.4rem;
  margin-top: 0.6rem;
}

.page-label {
  margin-bottom: 0.6rem;
}
.page-label h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.mini-block {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) {
  .mini-block {
    width: 94%;
  }
}
@media (min-width: 840px) {
  .mini-block {
    width: 62%;
  }
}
@media (min-width: 1240px) {
  .mini-block {
    width: 48%;
  }
}
@media (min-width: 1800px) {
  .mini-block {
    width: 32%;
  }
}

.nano-block {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) {
  .nano-block {
    width: 94%;
  }
}
@media (min-width: 840px) {
  .nano-block {
    width: 48%;
  }
}
@media (min-width: 1400px) {
  .nano-block {
    width: 36%;
  }
}
@media (min-width: 1800px) {
  .nano-block {
    width: 24%;
  }
}

.no-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.no-list li {
  padding-left: 0;
}

#notFound #error-title {
  font-family: "Poppins", sans-serif;
}

#home #example-links a:first-child {
  margin: 0 0.4rem 0.8rem 0;
}
#home #example-links > * + * {
  margin: 0 0.4rem 0.8rem 0;
}

#components .dndFreeBoundary {
  display: flex;
  flex-wrap: wrap;
}
#components .dndFreeBoundary .dndFree-wrap,
#components .dndFreeBoundary .dndFreeWithHandle-wrap {
  margin: 12px 24px 12px 0;
}
#components .dndFreeBoundary .dndFree-wrap:last-child,
#components .dndFreeBoundary .dndFreeWithHandle-wrap:last-child {
  margin-right: 0;
}
#components .dndFreeBoundary .dndFree-wrap .dndFree,
#components .dndFreeBoundary .dndFree-wrap .dndFreeWithHandle,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFree,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFreeWithHandle {
  padding: 0.1em 0.2em;
  width: 128px;
  height: 128px;
  font-size: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: move;
  user-select: none;
  touch-action: none;
  border-radius: 1rem;
  border: 1px solid var(--boxShadowBorder);
  border-radius: 1.5rem;
  box-shadow: var(--boxShadowColor) 0px 3px 11px 0px;
  transition: box-shadow 0.5s;
}
#components .dndFreeBoundary .dndFree-wrap .dndFree:hover,
#components .dndFreeBoundary .dndFree-wrap .dndFreeWithHandle:hover,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFree:hover,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFreeWithHandle:hover {
  box-shadow: var(--boxShadowColorHover) 0px 3px 11px 0px;
}
#components .dndFreeBoundary .dndFree-wrap .dndFree-active,
#components .dndFreeBoundary .dndFree-wrap .dndFreeWithHandle-active,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFree-active,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFreeWithHandle-active {
  touch-action: none;
  user-select: none;
}
#components .dndFreeBoundary .dndFree-wrap .dndFree-active:hover,
#components .dndFreeBoundary .dndFree-wrap .dndFreeWithHandle-active:hover,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFree-active:hover,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFreeWithHandle-active:hover {
  box-shadow: var(--boxShadowColorHover) 0px 3px 11px 0px;
}
#components .dndFreeBoundary .dndFree-wrap .dndFreeWithHandle,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFreeWithHandle {
  cursor: default;
}
#components .dndFreeBoundary .dndFree-wrap .dndFreeWithHandle .dndFree-handle,
#components .dndFreeBoundary .dndFreeWithHandle-wrap .dndFreeWithHandle .dndFree-handle {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  font-size: 0.8em;
  cursor: move;
}
#components #trees .tree {
  border: 1px solid var(--boxShadowBorder);
  border-radius: 1.5rem;
  box-shadow: var(--boxShadowColor) 0px 3px 11px 0px;
  transition: box-shadow 0.5s;
  padding: 4px 8px;
  width: 100%;
  border-radius: 0.14em;
  margin-bottom: 8px;
}
#components .layout-item-bd {
  border: 1px solid var(--color-primary);
  border-radius: 0.6rem;
  padding: 4px 8px;
  padding: 0.5em 0.3em;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: var(--color-second-primary);
}
#components .layout {
  height: 50vh;
  width: 100%;
}
@media (max-width: 750px) {
  #components .layout {
    height: 80vh;
  }
}
#components .layout .layout-item-1 {
  width: 100%;
}
#components .layout2 {
  display: flex;
  height: 100%;
}
#components .layout2 .layout2-item {
  height: 100%;
}
#components .layout3 {
  height: 100%;
}
#components .layout3 .layout3-item {
  width: 100%;
}
#components .vlist {
  border-radius: 0.6rem;
  border: 1px solid var(--color-primary);
}
#components .vlist ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#components .vlist ul li {
  color: var(--color-second-primary);
  margin: 0;
  padding: 0.4rem;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  height: 100%;
}
#components #vlist-vert .vlist {
  overflow-y: hidden;
}
#components #vlist-vert .vlist ul {
  display: flex;
}
#components #vlist-vert .vlist ul li {
  padding: 0.8rem;
  border: 0;
  border-right: 1px solid var(--color-primary);
}
#components .dnd-group {
  min-height: 96px;
  min-width: 192px;
  list-style-type: none;
  padding: 2px 4px 12px 4px;
  margin: 0;
  height: 100%;
}
#components .dnd-group-contentBlock {
  height: 100%;
  width: 100%;
}
#components .dnd {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  min-height: 64px;
  min-width: 148px;
  max-width: 100%;
  background: white;
  overflow: hidden;
}
#components .dnd .dnd-placeholder {
  opacity: 0;
}
#components .dnd .dnd-item {
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 0.4em 0.8em 0.2em 0.8em;
  min-height: 2.6rem;
}
#components .dnd .dnd-item:last-child {
  border-bottom: 0;
}
#components .dnd .dnd-item .dnd-preview {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
#components #dnds h3 {
  font-size: 1.05rem;
}
#components #dnds #dndLipsum .dnd-item {
  color: #302ECD;
}
#components #dnds #dnd1,
#components #dnds #dnd2,
#components #dnds #dnd3,
#components #dnds #dndA {
  margin: 0 0.2rem;
  padding: 0;
  display: inline-block;
}
#components .dnd-dragging .dnd:not(.dnd-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
#components .modal-window_container {
  border: 1px solid var(--boxShadowBorder);
  border-radius: 1.5rem;
  box-shadow: var(--boxShadowColor) 0px 3px 11px 0px;
  transition: box-shadow 0.5s;
}

#todoList .todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#todoList #todo-footer nav a {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.24em;
  padding: 4px;
  border-radius: 0.6rem;
}
#todoList #todo-footer nav a:hover {
  padding: 3px;
  border: 1px solid var(--color-primary);
}
#todoList #todo-footer nav a.active {
  padding: 3px;
  border: 1px solid var(--color-second-primary);
}
#todoList #todo-footer nav:first-child {
  margin: 0 0.24em 0 0;
}

.vlist {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}

.vlist .vlist-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vlist .vlist-padding {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.modal-window {
  display: none;
  /* fully transperent color */
  background: rgba(0, 0, 0, 0);
}

.modal-window-active {
  align-items: center;
  bottom: 0;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  opacity: 1;
  z-index: 400;
}

.modal-window_overlay {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: rgba(247, 248, 249, 0.75);
  overflow-x: hidden;
  overflow-y: auto;
}

html[data-theme=dark] .modal-window_overlay {
  background: rgba(0, 0, 0, 0.75);
}

.modal-window_container {
  border-radius: 0.6rem;
  box-shadow: rgba(125, 128, 147, 0.23) 0px 3px 11px 0px;
  transition: box-shadow 0.5s;
  background-color: var(--main-bg);
  display: flex;
  width: 100%;
  animation: slide-down 0.2s ease 1;
  z-index: 1;
  overflow: auto;
  flex-direction: column;
}

.modal-window_container:hovered,
.modal-window_container:focused {
  box-shadow: rgba(125, 128, 147, 0.46) 0px 3px 11px 0px;
}

.tree .tree-header {
  display: flex;
}

.tree .tree-header .tree-hide-btn {
  margin: 0 0 0 auto;
  bottom: 0;
  padding: 0;
  background: inherit;
  border: 0;
  cursor: pointer;
}

.tree .tree-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tree .tree-items .tree-item {
  margin-left: 0;
}

.tree .tree-items .tree-item .tree-item-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}

.tree .tree-items .tree-item .tree-item-header .tree-item-header__hide-btn {
  border: none;
  padding: 0;
  background: inherit;
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 4px;
}

.tree .tree-items .tree-item .tree-item-header .tree-item-header_name {
  height: 24px;
}

.tree .tree-items .tree-item .tree-item-subs {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tree .tree-items .tree-item .tree-item-subs .tree-item-subs_item {
  margin-left: 36px;
}

.tree .tree-items .tree-item_name-only {
  margin-left: 32px;
}

html,
body {
  height: 100%;
}

html[data-theme=dark] #app,
html[data-theme=dark] #main-footer {
  background: inherit !important;
}

#app {
  height: 100%;
  background: linear-gradient(180deg, #F0F8FF 0%, #fff 50%);
}

#app-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a,
b,
strong,
i,
pre,
code {
  display: inline-block;
}

a {
  color: var(--color-primary);
}

.light-bg {
  background-color: #fff;
}

html[data-theme=dark] .light-bg {
  background: inherit;
}

#main-header {
  border-color: var(--color-lightGrey);
}
#main-header #theme-toggle svg {
  font-size: 1.2em;
}
#main-header #theme-toggle .svg-icon path,
#main-header #theme-toggle .svg-icon polygon,
#main-header #theme-toggle .svg-icon rect {
  fill: #9CAEC0;
}

footer#main-footer {
  background-image: linear-gradient(0deg, #DFF8FF 0%, #fff 65%);
}
footer#main-footer #main-footer_createdWith-love .svg-icon path,
footer#main-footer #main-footer_createdWith-love .svg-icon polygon,
footer#main-footer #main-footer_createdWith-love .svg-icon rect {
  fill: #ff0033;
}

#scrollTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8em;
  border-radius: 50%;
  font-size: 18px;
  width: 5.4rem;
  height: 5.4rem;
  color: rgba(85, 97, 125, 0.6);
  background: rgba(93, 104, 156, 0.08);
  transition: all 0.3s;
  content: "";
}
#scrollTop:hover, #scrollTop:focus-within {
  background: rgba(93, 104, 156, 0.15);
}
#scrollTop i.icon {
  vertical-align: -15%;
  background: none !important;
}
#scrollTop:active {
  transform: scale(1.25);
}

/* styles for svg icons */
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--main-color);
}

.svg-icon circle {
  stroke: var(--main-color);
  stroke-width: 1;
}

.icon {
  color: var(--main-color);
}

/*# sourceMappingURL=main.css.map */
