/*=== Styles from components/components.gas ===*/
#components {
  width: 80%;
  margin: 0 auto;
}
#components .vlist {
  height: 50vh;
  border: 1px solid #dedede;
  padding: 0.1em;
}
#components .vlist-item {
  border: 1px solid #dedede;
  padding: 4px;
}
#components .tree {
  border: 1px solid #dedede;
  padding: 4px 8px;
  width: 100%;
  border-radius: 0.08em;
  margin-bottom: 8px;
}
#components .layout-v {
  height: 300px;
  width: 100%;
}
#components .layout-v-2 {
  height: 100%;
  width: 100%;
}
#components .layout-h {
  width: 100%;
  height: 100%;
  display: flex;
}
#components .layout-item {
  border: 1px solid #dedede;
  border-radius: 0.12em;
  box-shadow: 0px 0px 30px 5px rgba(209, 209, 209, 0.27);
  padding: 4px 8px;
  padding: 0.5em 0.3em;
  overflow-x: hidden;
  overflow-y: auto;
}
#components .layout-item-wrapper {
  width: 100%;
  height: 100%;
}
#components .dnd-group {
  min-height: 96px;
  min-width: 192px;
  list-style-type: none;
  padding: 2px 4px 12px 4px;
  margin: 0;
  height: 100%;
}
#components .dnd-group-wrap {
  height: 100%;
  width: 100%;
}
#components .dnd {
  border-radius: 4px;
  margin: 0 0.5em;
}
#components .dnd:first-child {
  margin: 0 0.5em 0 0;
}
#components .dnd-ghost {
  background-color: #ffffff;
  opacity: 0.6;
}
#components .wrap {
  width: 100%;
  border-left: 0.15rem solid #00cc99;
  border-radius: 0.1rem;
  padding: 0 0 0 0.6em;
  margin-bottom: 1.2em;
}
#components .dnd-item {
  border: 1px solid #dedede;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 0.4em 0.1em;
  min-height: 48px;
  text-align: center;
}

/*=== Styles from /home/sinica/go/src/github.com/gascore/components/vlist/vlist.gas ===*/
.vlist {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.vlist-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vlist-padding {
  width: 1px;
  opacity: 0;
}

/*=== Styles from main.gas ===*/
a {
  margin: 0 5px;
  color: #00CC99;
}
a:hover, a:focus {
  color: #009966;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%;
}

header {
  padding: 4px 8px;
}

main {
  padding: 0 8px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
  background-color: #efefef;
  text-align: center;
}

.td-list_wrap {
  padding: 0 16px;
  margin: 12px 0;
}

.td-list {
  list-style-type: none;
  padding-left: 0;
}
.td-list li #li-body {
  display: flex;
  padding: 4px 8px;
  border-bottom: 1px solid #dedede;
  font-size: 18px;
}
.td-list li #li-body button {
  border: 0;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}
.td-list li #li-body button#submit {
  margin-right: 8px;
}
.td-list li #li-body button#submit:hover {
  color: #009966;
}
.td-list li #li-body button#submit i {
  margin-left: 0;
}
.td-list li #li-body button#delete {
  margin: 0 0 0 auto;
}
.td-list li #li-body button#delete:hover, .td-list li #li-body button#delete:focus {
  color: #ff0033;
}

#new button {
  margin-left: 8px;
}

button#submit:focus {
  color: #009966;
}

/*# sourceMappingURL=main.scss.css.map */
