/*=== Styles from main.gas ===*/
a {
  margin: 0 5px;
  color: #00CC99; }
  a:hover, a:focus {
    color: #009966; }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%; }

header {
  padding: 4px 8px; }

main {
  padding: 0 8px; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
  background-color: #efefef;
  text-align: center; }

.td-list_wrap {
  padding: 0 16px;
  margin: 12px 0; }

.td-list {
  list-style-type: none;
  padding-left: 0; }
  .td-list li #li-body {
    display: flex;
    padding: 4px 8px;
    border-bottom: 1px solid #dedede;
    font-size: 18px; }
    .td-list li #li-body button {
      border: 0;
      padding: 0;
      background-color: inherit;
      cursor: pointer; }
      .td-list li #li-body button#submit {
        margin-right: 8px; }
        .td-list li #li-body button#submit:hover {
          color: #009966; }
        .td-list li #li-body button#submit i {
          margin-left: 0; }
      .td-list li #li-body button#delete {
        margin: 0 0 0 auto; }
        .td-list li #li-body button#delete:hover, .td-list li #li-body button#delete:focus {
          color: #ff0033; }

#new button {
  margin-left: 8px; }

button#submit:focus {
  color: #009966; }

/*=== Styles from components/components.gas ===*/
#components {
  width: 80%;
  margin: 0 auto; }
  #components .layout {
    height: 15vw;
    width: 100%;
    display: flex; }
    #components .layout .layout-item {
      height: 100%;
      border: 1px solid #dedede;
      border-radius: 0.12em;
      box-shadow: 0px 0px 30px 5px rgba(209, 209, 209, 0.27);
      padding: 4px 8px;
      padding: .5em .3em;
      overflow-x: hidden;
      overflow-y: auto; }
  #components .vlist {
    height: 50vw;
    border: 1px solid #dedede;
    padding: .1em; }
    #components .vlist .vlist-item {
      border: 1px solid #dedede;
      padding: 4px; }
  #components .tree {
    border: 1px solid #dedede;
    padding: 4px 8px;
    width: 100%;
    border-radius: 0.08em;
    margin-bottom: 8px; }
  #components .dndFree-box {
    width: 100%;
    padding: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px; }
    #components .dndFree-box .dndFree {
      border: 1px solid #ccc;
      border-radius: .2em;
      padding: .1em .2em;
      width: 128px;
      height: 128px;
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
      font-size: 20px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      user-select: none;
      touch-action: none;
      transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
      #components .dndFree-box .dndFree .dndFree-handle {
        position: absolute;
        top: .6em;
        right: .6em;
        color: #ccc;
        font-size: .8em;
        cursor: move; }
    #components .dndFree-box .dndFree-active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
  #components .wrap {
    width: 100%;
    border-left: .15rem solid #00cc99;
    border-radius: .1rem;
    padding: 0 0 0 .6em;
    margin-bottom: 1.2em; }

/*=== Styles from /home/sinica/go/src/github.com/gascore/components/tree/tree.gas ===*/
.tree-header {
  display: flex; }
  .tree-header .tree-hide-btn {
    margin: 0  0 0 auto;
    border: 0;
    padding: 0;
    background: inherit; }

ul.tree-items, .directory-item ul {
  padding: 0 0 0 12px;
  margin: 0;
  list-style-type: none; }

.tree-items span.tree-item {
  cursor: pointer; }
.tree-items .directory-item .directory-item-header button.directory-item-header__hide-btn {
  margin: 0 6px 0 0;
  border: 0;
  padding: 0;
  background: inherit;
  display: inline-block; }
.tree-items .directory-item .directory-item-header .directory-item-header__name {
  cursor: pointer;
  display: inline-block; }

/*=== Styles from /home/sinica/go/src/github.com/gascore/components/vlist/vlist.gas ===*/
.vlist {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; }

.vlist-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute; }

.vlist-padding {
  width: 1px;
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
